.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;
  position: relative;
  &__side {
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 1s ease;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 1rem 2rem 4rem rgba($color-black, 0.4);
    &--front {
    }
    &--back {
      transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      text-align: center;
      &-1 {
        background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    &--1 {
      background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../../img/nat-5.jpg");
    }
    &--2 {
      background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../../img/nat-6.jpg");
    }
    &--3 {
      background-image: linear-gradient(
          to bottom right,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../../img/nat-7.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 65%;
    text-align: right;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  &__details {
    margin-top: 2rem;
    ul {
      list-style: none;
      width: 80%;
      text-align: center;
      font-size: 1.5rem;
      margin: 0 auto;

      li {
        padding: 1rem 0;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 90%;
  }

  &__price-box {
    margin-bottom: 6rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-port) {
    height: auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1rem 2rem 4rem rgba($color-black, 0.4);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;
      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
    &:hover &__side--back {
      transform: rotateY(0);
    }

    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      width: 100%;
      transform: translate(0);
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3em;
      color: $color-white;
    }

    &__price-only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}
