.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;

  &__icon {
    font-size: 4.5rem;
    display: inline-block;
    margin-bottom: 2rem;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
  }
  &:hover {
    transform: scale(1.1) translateY(-2rem);
    box-shadow: 0 2rem 5rem rgba($color-black, 0.2);
    -webkit-transform: scale(1.1) translateY(-2rem);
    -moz-transform: scale(1.1) translateY(-2rem);
    -ms-transform: scale(1.1) translateY(-2rem);
    -o-transform: scale(1.1) translateY(-2rem);
  }
}
